<h1>！自動販売機！</h1>

<% @drinks.each do |drink| %>
  <div>
    <%#= image_tag drink.image.thumb.url if drink.image? %>
    <h3><%= drink.name %></h3>
    <div>
      <%= drink.price %>
      <%= button_to 'カートに入れる！', "xxxxxxxx" %>
    </div>
  </div>
<% end %>

